# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Tobias Fella <tobias.fella@kde.org>
[Desktop Entry]
Version=1.5
Name=GnuPG Log Viewer
Comment=Viewer for GnuPG daemon and application logs
Exec=kwatchgnupg
Terminal=false
Icon=org.kde.kwatchgnupg
Type=Application
Categories=System;
SingleMainWindow=true
