# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Tobias Fella <tobias.fella@kde.org>
[Desktop Entry]
Version=1.5
Name=GnuPG Log Viewer
Name[ca]=Visualitzador del registre del GnuPG
Name[ca@valencia]=Visor del registre de GnuPG
Name[es]=Visor de registros de GnuPG
Name[eu]=GnuPG egunkari ikustailea
Name[ia]=Visor de registro GnuPG
Name[it]=Visualizzatore log di GnuPG
Name[ka]=GnuPG-ის ჟურნალის ნახვა
Name[nl]=GnuPG-logviewer
Name[sl]=Pregledovalnik dnevnika GnuPG
Name[tr]=GnuPG Günlüğü Görüntüleyicisi
Name[uk]=Переглядач журналу GnuPG
Name[x-test]=xxGnuPG Log Viewerxx
Comment=Viewer for GnuPG daemon and application logs
Comment[ca]=Visualitzador dels registres del dimoni i les aplicacions GnuPG
Comment[ca@valencia]=Visor dels registres del dimoni i les aplicacions GnuPG
Comment[es]=Visor para el servicio GnuPG y los registros de la aplicación
Comment[eu]=GnuPG daimonaren eta aplikazioaren egunkari-ikustailea
Comment[it]=Visualizzatore di registri per il demone e l'applicazione GnuPG
Comment[ka]=დამთვალიერებელი GnuPG დემონისა და აპლიკაციის ჟურნალისთვის
Comment[nl]=Viewer voor GnuPG-daemon en logs van toepassingen
Comment[sl]=Pregledovalnik za demona GnuPG in dnevnike aplikacij
Comment[tr]=GnuPG ardalan süreci ve uygulama günlükleri için görüntüleyici
Comment[uk]=Засіб перегляду для фонової служби GnuPG та журналів програм
Comment[x-test]=xxViewer for GnuPG daemon and application logsxx
Exec=kwatchgnupg
Terminal=false
Icon=org.kde.kwatchgnupg
Type=Application
Categories=System;
SingleMainWindow=true
