[Desktop Entry]
Type=Service
# all files inherit from application/octet-stream
MimeType=application/octet-stream;
Name=Kleopatra Sign/Encrypt Files
Name[ar]=كليوبترا لتوقيع/تعمية الملفّات
Name[bg]=Подпис/шифроване на файлове с Kleopatra
Name[bs]=Kleopatra potpisivanje/šifrovanje datoteka
Name[ca]=Signatura/Encriptat de fitxers del Kleopatra
Name[ca@valencia]=Signatura/Encriptat de fitxers de Kleopatra
Name[cs]=Zašifrovat a podepsat soubory (Kleopatra)
Name[da]=Kleopatra signér/kryptér filer
Name[de]=Kleopatra – Signieren/Verschlüsseln von Dateien
Name[el]=Υπογραφή/κρυπτογράφηση αρχείων μέσω του Kleopatra
Name[en_GB]=Kleopatra Sign/Encrypt Files
Name[eo]=Kleopatra Subskribi/Ĉifrigi Dosierojn
Name[es]=Firmar/cifrar archivos con Kleopatra
Name[et]=Kleopatra failide allkirjastamine/krüptimine
Name[eu]=Kleopatra Sinatu/Zifratu fitxategiak
Name[fi]=Kleopatra: allekirjoita/salaa tiedostoja
Name[fr]=Kleopatra signature et chiffrement de fichiers
Name[gl]=Asinar/Cifrar ficheiros con Kleopatra
Name[he]=חתימה/הצפנה של קבצים עם Kleopatra
Name[hu]=Kleopatra - Fájlok aláírása és titkosítása
Name[ia]=Signa/crypta files de Kleopatra
Name[ie]=Kleopatra: Signar e ciffrar files
Name[is]=Kleopatra - undirrita/dulrita skrár
Name[it]=Kleopatra firma/codifica file
Name[ja]=Kleopatra ファイルに署名/暗号化
Name[ka]=Kleopatra ფაილების ხელმოწერა/დაშიფვრა
Name[kk]=Kleopatra - файлдарды қолтаңбалау/шифрлау
Name[km]=Kleopatra ចុះហត្ថលេខា/អ៊ីនគ្រិប​ឯកសារ
Name[ko]=Kleopatra 파일 서명/암호화
Name[lt]=Pasirašyti / šifruoti failus naudojant Kleopatra
Name[lv]=„Kleopatra“ parakstīt/šifrēt datnes
Name[mr]=क्लिओपात्रा स्वाक्षरी/कुटलिपीबद्ध फाईल्स
Name[nb]=Kleopatra signer/krypter filer
Name[nds]=Kleopatra-Dateiverslöteln/-ünnerschrieven
Name[nl]=Kleopatra - Bestanden ondertekenen/versleutelen
Name[nn]=Kleopatra signer/krypter filene
Name[pa]=ਕਲੀਉਪਾਟਰਾ ਸਾਇਨ/ਇੰਕ੍ਰਿਪਟ ਫਾਇਲਾਂ
Name[pl]=Podpisz/zaszyfruj pliki w Kleopatrze
Name[pt]=Assinatura/Encriptação de Ficheiros do Kleopatra
Name[pt_BR]=Assinatura/criptografia de arquivos do Kleopatra
Name[ro]=Kleopatra Semnează/criptează fișiere
Name[ru]=Шифрование и подписывание файлов
Name[sa]=क्लियोपेट्रा सञ्चिकाः हस्ताक्षरयन्तु/गुप्तीकरणं कुर्वन्तु
Name[sk]=Kleopatra Podpísať/Zakódovať súbory 
Name[sl]=Podpisovanje/šifriranje datotek s Kleopatro
Name[sr]=Клеопатра — потписивање/шифровање фајлова
Name[sr@ijekavian]=Клеопатра — потписивање/шифровање фајлова
Name[sr@ijekavianlatin]=Kleopatra — potpisivanje/šifrovanje fajlova
Name[sr@latin]=Kleopatra — potpisivanje/šifrovanje fajlova
Name[sv]=Signera och kryptera filer med Kleopatra
Name[tr]=Kleopatra Dosyaları İmzala/Şifrele
Name[uk]=Підписування/Шифрування файлів у Kleopatra
Name[wa]=Siner/Ecripter les fitchîs Kleopatra
Name[zh_CN]=Kleopatra 签名/加密文件
Name[zh_TW]=Kleopatra 簽署/加密檔案
Actions=kleoencryptsignfiles;kleoencryptfiles;kleosignfiles;

[Desktop Action kleoencryptsignfiles]
Name=Sign/Encrypt File…
Name[ar]=وقّع/عمِّ ملف…
Name[bg]=Подписване/шифроване на файл…
Name[ca]=Signa i encripta el fitxer…
Name[ca@valencia]=Signa i encripta el fitxer…
Name[cs]=Podepsat/zašifrovat soubor...
Name[de]=Datei signieren & verschlüsseln …
Name[eo]=Subskribi/Ĉifri Dosieron…
Name[es]=Firmar/cifrar archivo...
Name[eu]=Sinatu/zifratu fitxategia...
Name[fi]=Allekirjoita tai salaa tiedosto…
Name[fr]=Signer / chiffrer un fichier…
Name[gl]=Asinar/cifrar o ficheiro…
Name[he]=חתימה/הצפנה של קובץ…
Name[hu]=Fájl aláírása/titkosítása…
Name[ia]=Signa/Crypta file...
Name[it]=Firma/cifra file…
Name[ja]=ファイルを暗号化/署名...
Name[ka]=ფაილის ხელმოწერა/დაშიფვრა…
Name[ko]=파일 서명/암호화…
Name[lv]=Parakstīt/šifrēt datni…
Name[nl]=Bestand ondertekenen/versleutelen…
Name[pl]=Podpisz/zaszyfruj plik…
Name[pt_BR]=Assinar/criptografar o arquivo…
Name[ru]=Подписать или зашифровать файл…
Name[sl]=Podpiši/šifriraj datoteko…
Name[sv]=Signera och kryptera fil…
Name[tr]=Dosyayı İmzala/Şifrele…
Name[uk]=Підписати/Зашифрувати файл…
Name[zh_CN]=签名/加密文件...
Name[zh_TW]=簽署/加密檔案…
Icon=kleopatra
Exec=kleopatra --encrypt-sign -- %F

[Desktop Action kleoencryptfiles]
Name=Encrypt File…
Name[ar]=عمِّ ملف…
Name[bg]=Шифроване на файл…
Name[ca]=Encripta el fitxer…
Name[ca@valencia]=Encripta el fitxer…
Name[cs]=Zašifrovat soubor...
Name[de]=Datei verschlüsseln …
Name[el]=Κρυπτογράφηση αρχείου…
Name[eo]=Ĉifri Dosieron…
Name[es]=Cifrar archivo...
Name[eu]=Zifratu fitxategia...
Name[fi]=Salaa tiedosto…
Name[fr]=Chiffrer un fichier...
Name[gl]=Cifrar o ficheiro…
Name[he]=הצפנת קובץ…
Name[hu]=Fájl titkosítása…
Name[ia]=Crypta file...
Name[it]=Cifra file…
Name[ja]=ファイルを暗号化...
Name[ka]=ფაილის დაშიფვრა…
Name[ko]=파일 암호화…
Name[lv]=Šifrēt datni…
Name[nl]=Bestand versleutelen…
Name[pl]=Zaszyfruj plik…
Name[pt_BR]=Criptografar arquivo…
Name[ru]=Зашифровать файл…
Name[sl]=Šifriraj datoteko…
Name[sv]=Kryptera fil…
Name[tr]=Dosyayı Şifrele…
Name[uk]=Зашифрувати файл…
Name[zh_CN]=加密文件...
Name[zh_TW]=加密檔案…
Icon=kleopatra
Exec=kleopatra --encrypt -- %F

[Desktop Action kleosignfiles]
Name=Sign File…
Name[ar]=وقّع الملف…
Name[bg]=Подписване на файл…
Name[ca]=Signa el fitxer…
Name[ca@valencia]=Signa el fitxer…
Name[cs]=Podepsat soubor...
Name[de]=Datei signieren …
Name[eo]=Subskribi Dosieron…
Name[es]=Firmar archivo...
Name[eu]=Sinatu fitxategia...
Name[fi]=Allekirjoita tiedosto…
Name[fr]=Signer un fichier...
Name[gl]=Asinar o ficheiro…
Name[he]=חתימת קובץ…
Name[hu]=Fájl aláírása…
Name[ia]=Signa file…
Name[it]=Firma file…
Name[ja]=ファイルに署名...
Name[ka]=ფაილის ხელმოწერა…
Name[ko]=파일 서명…
Name[lv]=Parakstīt datni…
Name[nl]=Bestand onderteken…
Name[pl]=Podpisz plik…
Name[pt_BR]=Assinar arquivo…
Name[ru]=Подписать файл…
Name[sl]=Podpiši datoteko…
Name[sv]=Signera fil…
Name[tr]=Dosyayı İmzala…
Name[uk]=Підписати файл…
Name[zh_CN]=签名文件...
Name[zh_TW]=簽署檔案…
Icon=kleopatra
Exec=kleopatra --sign -- %F
