[Desktop Entry]
Type=Application
Categories=Qt;KDE;Utility;
Exec=kleopatra
Icon=kleopatra
Name=Kleopatra
Name[af]=Kleopatra
Name[ar]=كليوبترا
Name[ast]=Kleopatra
Name[be]=Kleopatra
Name[bg]=Kleopatra
Name[br]=Kleopatra
Name[bs]=Kleopatra
Name[ca]=Kleopatra
Name[ca@valencia]=Kleopatra
Name[cs]=Kleopatra
Name[cy]=Kleopatra
Name[da]=Kleopatra
Name[de]=Kleopatra
Name[el]=Kleopatra
Name[en_GB]=Kleopatra
Name[eo]=Kleopatra
Name[es]=Kleopatra
Name[et]=Kleopatra
Name[eu]=Kleopatra
Name[fi]=Kleopatra
Name[fr]=Kleopatra
Name[fy]=Kleopatra
Name[ga]=Kleopatra
Name[gl]=Kleopatra
Name[he]=Kleopatra
Name[hu]=Kleopatra
Name[ia]=Kleopatra
Name[ie]=Kleopatra
Name[is]=Kleopatra
Name[it]=Kleopatra
Name[ja]=Kleopatra
Name[ka]=Kleopatra
Name[kk]=Kleopatra
Name[km]=Kleopatra
Name[ko]=Kleopatra
Name[lt]=Kleopatra
Name[lv]=Kleopatra
Name[mk]=Клеопатра
Name[mr]=क्लिओपात्रा
Name[ms]=Kleopatra
Name[nb]=Kleopatra
Name[nds]=Kleopatra
Name[ne]=क्लेओपेट्रा
Name[nl]=Kleopatra
Name[nn]=Kleopatra
Name[pa]=ਕਲੀਉਪਾਟਰਾ
Name[pl]=Kleopatra
Name[pt]=Kleopatra
Name[pt_BR]=Kleopatra
Name[ro]=Kleopatra
Name[ru]=Kleopatra
Name[se]=Kleopatra
Name[sk]=Kleopatra
Name[sl]=Kleopatra
Name[sr]=Клеопатра
Name[sr@ijekavian]=Клеопатра
Name[sr@ijekavianlatin]=Kleopatra
Name[sr@latin]=Kleopatra
Name[sv]=Kleopatra
Name[ta]=க்ளியோபட்ரா
Name[tg]=Kleopatra
Name[tr]=Kleopatra
Name[ug]=Kleopatra
Name[uk]=Kleopatra
Name[uz]=Kleopatra
Name[uz@cyrillic]=Kleopatra
Name[wa]=Kleopatra
Name[x-test]=xxKleopatraxx
Name[zh_CN]=Kleopatra
Name[zh_TW]=Kleopatra
GenericName=Certificate manager and cryptography app
GenericName[bg]=Мениджър на сертификати и приложение за криптография
GenericName[ca]=Aplicació de gestió de certificats i criptografia
GenericName[ca@valencia]=Aplicació de gestió de certificats i criptografia
GenericName[es]=Gestor de certificados y aplicación de criptografía
GenericName[eu]=Ziurtagiri-kudeatzailea eta kriptografia aplikazioa
GenericName[ia]=Gerente de certificato e app de cryptographia
GenericName[it]=Gestore di certificati e applicazione di crittografia
GenericName[ka]=სერტიფიკატების მმართველი და კრიპტოგრაფიის აპი
GenericName[nl]=Certificaatbeheerder en toepassing voor cryptografie
GenericName[pl]=Aplikacja do certyfikatów i kryptografii
GenericName[sl]=Upravljalnik potrdil in aplikacija kriptografije
GenericName[tr]=Sertifika Yöneticisi ve Şifreleme Uygulaması
GenericName[uk]=Засіб для керування сертифікатами і криптографії
GenericName[x-test]=xxCertificate manager and cryptography appxx
StartupNotify=true
X-DocPath=kleopatra/index.html
